In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

### 시리즈
-> 1차원 배열의 값에 각 값에 대응하는 인덱스를 부여할 수 있는 구조

In [5]:
sr = pd.Series([100000, 50000, 10000], index=['a', 'b', 'c'])
print('시리즈 출력: ')
print(sr)
print('시리즈 값: {}'.format(sr.values))
print('시리즈 인덱스: {}'.format(sr.index))

시리즈 출력:
a    100000
b     50000
c     10000
dtype: int64
시리즈 값: [100000  50000  10000]
시리즈 인덱스: Index(['a', 'b', 'c'], dtype='object')

### 데이터프레임
-> 2차원 리스트를 매개변수로 전달한다.  
2차원이므로 행방향 인덱스와 열방향 인덱스가 존재한다.  
열, 인덱스, 값으로 구성된다.

In [7]:
values = [[1,2,3],[4,5,6],[7,8,9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index, columns)

print('데이터프레임 출력')
print(df)

print('데이터프레임 인덱스 {}'.format(df.index))
print('데이터프레임 컬럼 {}'.format(df.columns))
print('데이터프레임 값')
print(df.values)

데이터프레임 출력
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9
데이터프레임 인덱스 Index(['one', 'two', 'three'], dtype='object')
데이터프레임 컬럼 Index(['A', 'B', 'C'], dtype='object')
데이터프레임 값
[[1 2 3]
 [4 5 6]
 [7 8 9]]

### 데이터프레임의 생성
-> 데이터프레임은 List, Series, dict, Numpy의 ndarrys, 또다른 데이터프레임으로부터 생성할 수 있다.

In [12]:
# 리스트로 생성
data = [
    ['1000', 'A', 123],
    ['1001', 'B', 456],
    ['1002', 'C', 789],
    ['1003', 'D', 111],
    ['1004', 'E', 222],
    ['1005', 'F', 333]
]

df = pd.DataFrame(data)
print(df)

print()
print()

# 생성된 데이터프레임에 열을 지정
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)

      0  1    2
0  1000  A  123
1  1001  B  456
2  1002  C  789
3  1003  D  111
4  1004  E  222
5  1005  F  333


   col1 col2  col3
0  1000    A   123
1  1001    B   456
2  1002    C   789
3  1003    D   111
4  1004    E   222
5  1005    F   333

In [13]:
# 딕셔너리로 생성
data = {
    'col1' : ['1000', '1001', '1002', '1003', '1004', '1005'],
    'col2' : ['A', 'B', 'C', 'D', 'E', 'F'],
    'col3' : [123, 456, 789, 111, 222, 333]
}

df = pd.DataFrame(data)
print(df)

   col1 col2  col3
0  1000    A   123
1  1001    B   456
2  1002    C   789
3  1003    D   111
4  1004    E   222
5  1005    F   333

### 데이터프레임 조회
df.head(n) : 앞부분 n개만 보기  
df.tail(n) : 뒷부분을 n개만 보기  
df['열이름'] : 해당되는 열 확인

In [15]:
print(df.head(3))
print()
print()

print(df.tail(3))
print()
print()

print(df['col2'])

   col1 col2  col3
0  1000    A   123
1  1001    B   456
2  1002    C   789


   col1 col2  col3
3  1003    D   111
4  1004    E   222
5  1005    F   333


0    A
1    B
2    C
3    D
4    E
5    F
Name: col2, dtype: object